{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<h1>Hello, {{ name }}!</h1>
<div class="page-header">
  <p>现在时间时: {{ moment().format('YYYY年M月D日, h:mm:ss a') }}.</p>
  <p>The current date and time is: {{ moment().format('MMMM Do YYYY, h:mm:ss a') }}.</p>
  <p>已经过去了: {{ moment().fromTime(current_time) }}.</p>
  <p>{{ moment().calendar() }}.</p>
  <p>{{ url_for('index', name=1) }}</p>
  <p>{{ url_for('user', name=2) }}</p>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
